.ORDERING-GENERAL-CARD {
	@apply bg-white p-4 xl:p-6;
	border: solid 1px rgb(166, 122, 74, 0.2);
}

.ORDERING-GENERAL-DIV {
	border-bottom: solid 1px rgb(166, 122, 74, 0.2);
}

.ORDERING-GENERAL-DIV-V {
	border-left: solid 1px rgb(166, 122, 74, 0.2);
}

.CARD-DURASI {
	@apply w-full rounded-lg  bg-white p-2 transition-all duration-100 ease-in-out hover:cursor-pointer hover:bg-cream hover:bg-opacity-50 hover:text-brown  sm:p-4;
}

.CARD-DURASI p {
	@apply hover:cursor-pointer;
}

.CARD-KURIR {
	@apply flex w-full  rounded-lg  bg-white p-2 transition-all duration-100 ease-in-out hover:cursor-pointer hover:bg-cream hover:bg-opacity-50 hover:text-brown  sm:p-4;
}

.CARD-BANK {
	@apply w-full rounded-lg  bg-white
     p-4 transition-all duration-100 ease-in-out hover:cursor-pointer hover:bg-cream hover:bg-opacity-50 hover:text-brown sm:p-6;
}

.CARD-BANK p {
	@apply hover:cursor-pointer;
}
