#kategoriproduk {
	@apply flex items-center justify-center;
}

#kategoriproduk .pt__wrapper {
	@apply flex flex-col items-center justify-center gap-4;
}

#kategoriproduk .pt__top {
	@apply flex items-center justify-center;
}

#kategoriproduk .pt__bttm {
	@apply hidden sm:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: masonry;
}

#kategoriproduk .product__item:nth-child(odd) {
	@apply h-[300px] w-[200px] break-inside-avoid rounded-lg border-2 border-[#a67a4a] bg-[#fcf5ea];
}

#kategoriproduk .product__item:nth-child(even) {
	@apply h-[200px] w-[200px] break-inside-avoid rounded-lg border-2 border-[#a67a4a] bg-[#fcf5ea];
}

#kategoriproduk button {
	@apply rounded-2xl border px-2 text-xs sm:text-sm lg:text-base;
}
