nav {
	@apply flex items-center justify-center pt-4;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav__wrapper {
	@apply hidden   sm:container  sm:block sm:max-w-[688px] lg:max-w-[864px] xl:max-w-[1200px];
}

.nav__wrapper_top {
	@apply flex h-[70px] justify-between;
}

.nav__brand {
	@apply flex items-center gap-4;
}

.nav__brand .logo {
	@apply h-16 w-16;
}

.nav__brand .logo__title {
	@apply text-3xl tracking-wider hover:cursor-pointer sm:text-4xl;
	background: radial-gradient(
			54.48% 263.64% at 100% 240.91%,
			#efcc90 0%,
			#a67a4a 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.nav__cart-profile {
	@apply hidden items-center gap-6 sm:flex;
}

.nav__profile {
	@apply flex items-center gap-2;
}

.nav__wrapper_bttm {
	@apply flex h-[72px] items-center justify-between;
}

.nav__linkitems {
	@apply hidden list-none text-center sm:flex sm:items-center sm:gap-2 sm:text-xs lg:text-base xl:gap-4 2xl:gap-6;
}

.nav__linkitems .item {
	@apply hover:cursor-pointer hover:border-b-2 hover:border-med-brown  active:font-bold active:text-med-brown;
}

.nav__searchbar__wrapper {
	@apply relative flex flex-row items-center;
}

.nav__inputsearch {
	@apply hidden w-64 rounded-2xl bg-soft-gray p-2 pl-4 text-sm text-black sm:block;
}

nav .input__icon {
	@apply absolute hidden translate-x-56 text-black sm:block;
}

/*Nav Mobile  */

.nav__mobile {
	@apply relative mx-4 flex h-[75px] w-full items-center justify-between sm:hidden;
}

.nav__mobile__right {
	@apply flex items-center gap-2;
}

.nav__cart--mobile {
	@apply sm:hidden;
}

nav .dropdown__icon {
	@apply sm:hidden;
}

.nav__mobile__dropdown {
	@apply absolute right-4 top-full z-50 flex w-2/5 list-none flex-col gap-4 rounded-b-xl rounded-tl-xl  bg-cream p-4 text-right shadow-md;
}
