.ADDRESSPAGE-SUBJUDUL {
	@apply mt-6 text-sm font-bold;
}

.LABELINPUT-GROUP {
}

.LABELINPUT-GROUP p {
	@apply text-xs;
}

.ADDRESSPAGE-INPUT {
	@apply w-full rounded-md border px-2 placeholder:text-xs;
}

input[type="checkbox"] {
	accent-color: #ffedcd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
