.error404 {
	background: radial-gradient(
			52.75% 330.49% at 47.25% -31.82%,
			#efcc90 0%,
			#a67a4a 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
