@font-face {
	font-family: "Juana";
	src: url("../fonts/juana-semi-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3 {
		font-family: "Juana";
	}

	h1,
	h2,
	h3,
	p,
	ul,
	li:hover {
		cursor: default;
	}

	body {
		@apply top-0 left-0 m-0 overflow-x-hidden p-0 text-black;
		box-sizing: border-box;
	}
}

.toastify-custom-progress {
	background: #d6ac68 !important;
}

.toastify-custom-div {
	background: #a67a4a !important;
	color: #fff !important;
	font-family: Nunito;
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#a67a4a 0%,
		#d6ac68 60%,
		#d6ac68 80%,
		#a67a4a 100%
	);
	transition: 0.5s;
	background-size: 400% auto;
}

.btn-grad:hover {
	background-position: right center;
}

.btn-grad:focus {
	background-image: none;
	background-color: #a67a4a;
}

.btn-sec {
	background-color: transparent;
	border: 1px solid #c4c4c4;
	text-align: center;
	color: #515151;
	transition: all 0.8s ease;
}

.btn-sec:hover {
	color: white;
	box-shadow: inset 288px 0 0 0 #515151;
	/* background-color: white; */
}

.btn-sec-home {
	background-color: transparent;
	border: 1px solid #c4c4c4;
	text-align: center;
	color: #515151;
	transition: all 0.8s ease;
}

.btn-sec-home:hover {
	color: white;
	box-shadow: inset 288px 0 0 0 #c09863;
	border: 1px solid #c09863;
	/* background-color: white; */
}
